.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

.product-info {
    padding: 2rem 0;
    text-align: center;
    height: 110px;
}

    .product-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    .product-price {
        font-size: 1.25rem;
        font-style: italic;
        margin-bottom: 1rem;
    }

    .item-counter {
        justify-content: center;
    }
    
@media screen and (max-width: 450px) {
    .card {
        padding: 2rem;
    }
}
